aside {
  position: relative;
  background-image: url("/src/img/maincrow.jpg");
  background-size: cover;
  background-position: center;
  @media (orientation: portrait) {
    background-position: 0 40%;
  }
}
h1 {
  display: flex;
  justify-content: center;
  height: max(3.2rem, 5.5vh);
  padding: 10px;
  text-align: center;
  color: rgb(var(--main-rgb));
  background-color: rgba(white, 0.6);
  font-size: max(3.2rem, 5.5vh);
  font-family: var(--font-title);
  @media (orientation: portrait) {
    height: clamp(1.8rem, 6vh, 3.6rem);
    font-size: clamp(1.8rem, 6vh, 3.6rem);
  }
}
.icon {
  height: max(3.2rem, 5.5vh);
  margin: 0 1rem;
  @media (orientation: portrait) {
    height: clamp(1.8rem, 6vh, 3.6rem);
  }
}
.credit {
  position: absolute;
  bottom: 0;
  right: 0;
}
