aside {
  position: relative;
  background-image: url("/src/img/maincrow.jpg");
  background-size: cover;
  background-position: center;
  @media (orientation: portrait) {
    background-position: 0 40%;
  }
}
h1 {
  display: flex;
  justify-content: center;
  height: 6vh;
  padding: 10px;
  font-size: 6vh;
  text-align: center;
  color: rgb(var(--main-rgb));
  background-color: rgba(white, 0.6);
  font-family: var(--font-title);
}
.icon {
  height: 6vh;
  margin: 0 1.5rem;
}
.credit {
  position: absolute;
  bottom: 0;
  right: 0;
}
