@use "../abstracts/variables" as *;

.tooltip {
  display: block;
  position: relative;
  transition: 0.2s;
}
.tooltiptext {
  visibility: hidden;
  width: 50%;
  background-color: rgb(var(--accent-rgb), 80%);
  box-shadow: 4px 4px purple;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: translateX(-10%);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
