@use "../abstracts/variables" as *;

.tooltip {
  position: relative;
  display: block;
  transition: 0.4s;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 50%;
  background-color: rgb(var(--accent-rgb), 80%);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: -55%;

  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
